<a href="https://colab.research.google.com/github/Diegbor/Python_Pandas/blob/main/Bases_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clase 1: Introducción a Python

In [ ]:
print('Hola mundo')

Hola mundo

In [ ]:
variable_nueva = 1234
variable_nueva_2 = 123456

In [ ]:
variable_nueva

1234

In [ ]:
type(variable_nueva)

int

##Operaciones Númericas

In [ ]:
var_1 = 43
var_2 = 65
var_3 = 17
var_4 = 59

In [ ]:
var_1 * var_2

2795

In [ ]:
var_3 / var_4

0.288135593220339

In [ ]:
var_3 // var_4

0.288135593220339

In [ ]:
print("-"*20 , "Hola mundo", "-"*20, sep=" $ ")

-------------------- $ Hola mundo $ --------------------

In [ ]:
dict={1:"uno",2:"dos"}
listas = [1,45.5,"45"]
tupla = (1,2,3,4,5,6,7,8,9,0)

In [ ]:
suma = var_1 + var_2
print(f"La suma de {var_1} + {var_2} es igual a: {suma} {var_1 + var_2}")

La suma de 43 + 65 es igual a: 108 108

#Condicionales

In [ ]:
var_1 = 34
var_2 = 12
var_3 = 23.24
var_4 = 23.56
var_5 = "OK"
var_6 = "ERROR"
var_7 = True
var_8 = False

In [ ]:
if(var_1 > var_2):
    print("Es verdadero")

Es verdadero

In [ ]:
var_1 < var_2

False

In [ ]:
var_1 >= var_4

True

In [ ]:
var_5 == var_6

False

In [ ]:
var_5 != var_6

True

#Listas

In [ ]:
inventario = ['arroz','comida','tacos']
print(inventario)

['arroz', 'comida', 'tacos']

In [ ]:
#inventario.append('croquetas')
print(inventario)

['arroz', 'comida', 'tacos', 'croquetas']

In [ ]:
inventario.pop()
print(inventario)

['arroz', 'comida', 'tacos']

In [ ]:
inventario.pop(1)
print(inventario)

['arroz', 'tacos']

In [ ]:
lista_1 = [3.4,0.7,99.9,5.41,6.23,7.9]
lista_2 = [3.4,63.4,0.7,6.46,99.9,2.2,5.41]

In [ ]:
lista_2.pop(1)
#lista_2.pop(3)
#lista_2.pop(5)
lista_1.pop(5)
print(lista_1, lista_2)

[3.4, 0.7, 99.9, 5.41, 6.23] [3.4, 0.7, 6.46, 99.9, 2.2, 5.41]

In [ ]:
lista_2.pop(2)

6.46

In [ ]:
lista_2.pop(3)
print(lista_2)

[3.4, 0.7, 99.9, 5.41]

In [ ]:
lista_1.pop(4)

6.23

In [ ]:
if(lista_1==lista_2):
    print('Tú y yo somos uno mismo uououoooooo')

Tú y yo somos uno mismo uououoooooo

#Diccionario

In [ ]:
diccionario_1 = {
    'llave_1' : 'lo que sea',
    'llave_2' : 'otra cosa',
    'llave_3' : 'una más',
    'llave_4' : 123,
    'llave_5' : [1,2,3,4,5]
}
print(diccionario_1['llave_1'])
print(diccionario_1['llave_2'])
print(diccionario_1['llave_3'])
print(diccionario_1['llave_4'])
print(diccionario_1['llave_5'])
print(diccionario_1['llave_5'][0])

lo que sea
otra cosa
una más
123
[1, 2, 3, 4, 5]
1

In [ ]:
#Agregar un valor en particular
diccionario_1['llave_extr']='Otra prueba'
diccionario_1

{'llave_1': 'lo que sea',
 'llave_2': 'otra cosa',
 'llave_3': 'una más',
 'llave_4': 123,
 'llave_5': [1, 2, 3, 4, 5],
 'llave_extr': 'Otra prueba'}

In [ ]:
#Eliminar valores de diccionario
diccionario_1.pop('llave_extr')
diccionario_1

{'llave_1': 'lo que sea',
 'llave_2': 'otra cosa',
 'llave_3': 'una más',
 'llave_4': 123,
 'llave_5': [1, 2, 3, 4, 5]}

##Funciones

In [ ]:
def multiplicar_por_pi(numero):
    resultado = numero * 3.1415
    return resultado

In [ ]:
res = multiplicar_por_pi(5)
print(res)

15.707500000000001

In [ ]:
def calcular_promedio(lista_numeros):
    suma_total = sum(lista_numeros)
    cantidad_numeros = len(lista_numeros)

    if cantidad_numeros == 0:
      return "no se puede calcular el promedio"

    promedio = suma_total/cantidad_numeros
    return promedio

In [ ]:
mi_lista = [1,2,3,4,5,6,7,8,9,10]
resultado = calcular_promedio(mi_lista)
print(resultado)
print(f'El promedio es: {calcular_promedio(mi_lista)}')

5.5
El promedio es: 5.5

##MAP

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]

def multiplicar_diez(numero):
    return numero * 10

In [ ]:
list(map(multiplicar_diez,numeros))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
def convertir_string(numero):

    #return f'{numero} segundos'
    return str(numero)+' segundos'

list(map(convertir_string,numeros))

['1 segundos',
 '2 segundos',
 '3 segundos',
 '4 segundos',
 '5 segundos',
 '6 segundos',
 '7 segundos',
 '8 segundos',
 '9 segundos',
 '10 segundos']

In [ ]:
def convertir_negativos(numero):
    return numero*-1

list(map(convertir_negativos,numeros))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [ ]:
def convertir_menor_cinco(numero):
    if numero < 5:
      return 0
    else:
      return numero

list(map(convertir_menor_cinco,numeros))

[0, 0, 0, 0, 5, 6, 7, 8, 9, 10]

In [ ]:
def convertir_mayor_cinco(numero):
    if numero > 5:
      return True
    else:
      return False

list(map(convertir_mayor_cinco,numeros))

[False, False, False, False, False, True, True, True, True, True]

#RETO 1

In [ ]:
proporciones = [0.45, 0.2, 0.78, 0.4, 0.77, 0.9, 0.4, 0.5, 0.67, 0.24, 0.73]

def proporcion_a_porcentajes(decimal):
    return f'{decimal*100} %'

porcentajes = list(map(proporcion_a_porcentajes,proporciones))
print(porcentajes)

['45.0%', '20.0%', '78.0%', '40.0%', '77.0%', '90.0%', '40.0%', '50.0%', '67.0%', '24.0%', '73.0%']

In [ ]:
numeros_a_string = ["3", "7", "45", "89", "12", "9", "5", "89", "78", "87", "44", "45", "26", "84", "98", "46", "99", "84"]

def convertir_a_numeros(cadena):
    return int(cadena)

list(map(convertir_a_numeros,numeros_a_string))

[3, 7, 45, 89, 12, 9, 5, 89, 78, 87, 44, 45, 26, 84, 98, 46, 99, 84]

#FILTER

In [ ]:
otra_lista = [1,2,3,4,5,6,7,8,9,10]


def numeros_par(numero):
    if numero % 2 ==0 :
      return True
    else:
      return False

In [ ]:
list(filter(numeros_par,otra_lista))

[2, 4, 6, 8, 10]

In [ ]:
def numeros_mayor_5(numero):
    if numero > 5 :
      return True

list(filter(numeros_mayor_5,otra_lista))

[6, 7, 8, 9, 10]

In [ ]:
def palabra_tiene_mas_de_5_caracteres(palabra):
        if len(palabra) > 5:
            return True

loquesea = ["achicoria", "pasto", "sol", "loquillo", "moquillo", "sed", "pez", "jacaranda", "mil"]

list(filter(palabra_tiene_mas_de_5_caracteres, loquesea))

['achicoria', 'loquillo', 'moquillo', 'jacaranda']

#RETO 2

In [ ]:
edades = [12, 16, 19, None, 21, 25, 24, None, None, 16, 17, 25, 23, 28, None, 23, 35, 59, 67, None, 34, 21, 23, 15, 14, None, 18, 24, 23, 17]

def sin_valor_none(valor):
    if valor == None:
      return False
    else:
      return True

filtro=list(filter(sin_valor_none,edades))
print(filtro)

[12, 16, 19, 21, 25, 24, 16, 17, 25, 23, 28, 23, 35, 59, 67, 34, 21, 23, 15, 14, 18, 24, 23, 17]

In [ ]:
sueldos = [26, 32, 26, 30, 30, 32, 28, 30, 28, 110, 34, 30, 28, 26, 28, 30, 28, 85, 25, 30, 34, 34, 30, 30, 120, 28, 28, 120, 125]

def sueldos_menores_40k(sueldo):
    if sueldo < 40:
      return True
    else:
      return False

tipicos = list(filter(sueldos_menores_40k,sueldos))

print(f'El sueldo promedio típico en la empresa es {sum(tipicos)/len(tipicos)}k pesos')

El sueldo promedio típico en la empresa es 29.375k pesos